<div class="footercolor footerspace">
    <div class="fluid-container">
      <div class="container footerwords">
          <div class="row">
              <div class="col">
                <h4>SDSU</h4>
                <address>
                    <p>SDSU Engineering building</p>
                    <p>5500 Campanile Drive</p>
                    <p>San Diego, CA 92182</p>
                </address>

      
              </div>
              <div class="col">
                <h4>Team Falcon SDSU</h4>
                <p>All rights reserved © 2018 - {{  theyear  }} </p>
              </div>
              <div class="col">
                <h4>
                  Sponsored by: 
                </h4>
                <p>John Kennedy</p>
                <img src="../../../assets/images/static/sdsu_logo2.gif" style="width:160px; height: 100px; color:white" alt="">
              </div>
            </div>
      </div>

      </div>
</div>
