.falcon-anim-bg {
    background: url('../../../assets/images/static/Caption-Falcon-animatedv1.gif');
    background-size: cover;
    background-repeat: no-repeat;
}


.falcon_black_white {
    padding: 2em 2em 2em 2em;
    color: white;
    background: rgba($color: #000000, $alpha: 1.0)
}
