.fg_fix {
    background: rgba(0, 0, 0, 0.8);
}

.royce_wp {
    background: url('../assets/images/static/shelter_wp.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.falcon_simple_white_bg {
    background: rgba(0, 0, 0, 0.8);
    color: red;
}

