.falcon_team_img {
  width: 320px;
  height: 200px;
}

.tf_intro {
  background: rgba(255, 255, 255, $alpha: 1);
  padding: 2em 2em 2em 2em;
}

.groupIMG {
  padding: 1em 1em 1em 1em;
  background: url('../../../assets/images/team/team_power_rangers_2017__alternative__by_wushong.jpg');
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
}

